.about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
    background: #F7F7F7;
   
}

.about-main-cont {
    display: flex;
    
}
.about-button {
    width: 184px;
    height: 60px;
}


.about-img2{
  margin-top: 60px;
  margin-right: 30px;
}
.about-img1 {
    position: absolute;
    right: 6%;
}

.about-text-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.about-header{
    padding: 20px 0;
}

.about-header h6 {
    font-weight: 100;
    font-size: 70px;
    color: #504e4e;
    line-height: 80px;
}
.about-title {
    font-size: 22px;
    color: #727272;
    font-weight: 100;
    font-style: italic;
    width: 467px;
    padding: 10px 0;
}
.underline {
    width:100px;
    height: 5px;
    background-color: #D31F49;
    margin:10px 0;
   
}

.about-text-cont p {
    font-size: 16px;
    width: 415px;
    padding: 10px 0 20px;

}


