
.home-img {
    width: 100%;
    height: 120vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url('../images/background-image.svg');
    background-size: cover;
    filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-main-cont {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-55%);
    width: 100%;
    
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    
}
.home-wrapper h2 {
    font-size: 44px;
    color: #ffffff;
    

}
.home-wrapper h5{
    font-family: 'Heebo', sans-serif;
    line-height: 170px;
    font-size: 100px;
    color: rgb(255, 255, 255);
    font-weight: 100;
}
.home-button {
    width:184px;
    height: 57px;
    box-shadow: 0 3px  #A20000;
}
