.services {
    width: 100%;
    height: 616px;
    background-color: #F7F7F7; 
}
.services-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    
}
.services-underline {
    width: 50px;
    height: 5px;
    background-color: #e91647;
}
.services-text-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
.services-header h1 {
        color: #000;
        font-size: 69px;
        font-weight: 100;
        padding: 45px 0 0 0 ;
}
.services-title p {
    color: #727272;
    font-size: 21px;
    font-style: italic;
}
.services-card-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    padding-top: 60px;

}