body {
  font-family: 'Heebo';
}

.subscribe {
    background-color:#EE2655;
    width: 100%;
    height: 249px;
}
.subscribe-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 249px;
}
.subscribe-title {

}
.subscribe-title h2 {
    color: #fff;
    font-size: 22px;
    font-style: italic;
    font-weight: 200;
    padding: 10px;
}