body {
    font-family: 'Heebo';
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.input-cont {
    width:460px;
    margin: 0 10px 0 0;
}
.email-submit-input {
    width: 100%;
    height: 60px;
    border: 0;
    outline: 0;
    padding: 10px;
   color: #ffff;
    background-color: #F85B80;
    border-radius:10px;

}
::placeholder {
    color: #fff;
    font-size: 16px;
}

.email-submit-btn {
    width: 266px;
    border:2px solid #ffff;
    background: transparent;
    color: #fff;
    border-radius:10px;
    height: 60px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}  
.email-submit-btn:hover {
    background: #ffff;
    color: #EE2655;
    transition: all 0.3s;
    
}